---
layout: default
sitemap: false
---

<!-- header -->
<div class="header fixed-top border-top-3 border-top border-primary">
  <!-- navigation start -->
  <div class="container-lg">
    <nav class="navbar navbar-expand-lg navbar-default">
      <a class="navbar-brand" href="{{ site.url | relative_url }}">
        <h1 class="fw-bolder d-block text-white h2 m-0">OneWeek</h1>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar top-bar mt-0"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-default">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-times"></i>
        </button>
        <ul class="navbar-nav ms-auto me-lg-3">
          <li class="nav-item dropdown disabled">
            <a class="nav-link d-lg-none" href="#">
              Menu
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#1">Top</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#2">Introduction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#3">Problem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#4">Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#5">Demo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#6">Screenshots</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#7">Cases</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- navigation close -->
</div>

<div class="py-lg-20 pt-14 pb-10 bg-cover" id="1" style="background-image: url(/assets/images/hero-bg.jpeg);">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-8 col-md-8 col-12">
        <div class=" ">
          <h1 class="text-white mb-3 display-4 font-weight-bold">
            Product Demo
          </h1>
          <p class="mb-4 pe-lg-12 text-white lead">
            OneWeek Tickets helps you price event tickets.<br>On this page you can demo the platform.
          </p>
          <a href="#5" class="btn btn-primary me-3">Launch Demo</a>
          <a class="icon-shape rounded-circle btn-play icon-md bg-secondary text-white me-1 text-decoration-none font-12" href="#5">
            <i class="fas fa-play"></i>
          </a>
          <a href="#2" class="text-white">Watch Introduction Video</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-7 pt-lg-16 pb-lg-10" id="2">
  <div class="container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-12">
        <div class="mb-8 text-center">
          <h2 class="mb-3 h1">
            Introduction
          </h2>
          <p class="px-lg-10 lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna lectus, mattis n rem ipsum dolor sit amet consectetur.
          </p>
        </div>
      </div>
    </div>
    <div class="offset-lg-2 col-lg-8 col-md-12 col-12 text-center">
      <div class="z-1 position-relative rounded-3 py-19 border-white border bg-cover" style="background-image: url(../assets/images/video-img-2.jpg);">
        <a class="popup-youtube font-32 text-decoration-none" href="https://www.youtube.com/watch?v=JRzWRZahOVU">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="py-7 pt-lg-16 pb-lg-10" id="3">
  <div class="container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-12">
        <div class="mb-8 text-center">
          <h2 class="mb-3 h1">
            Problem
          </h2>
          <p class="px-lg-10 lead">
            How do I determine what I should charge for a live event? Traditional sources of data for determining ticket prices leads to significant revenue leakage.
          </p>
        </div>
        <!-- conters -->
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12">
            <div class="mb-lg-4 mb-0 text-center px-6">
              <h4 class="h2">65%+</h4>
              <span>Concert tickets unsold</span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="mb-lg-4 mb-0 text-center px-6">
              <h4 class="h2">20%</h4>
              <span>Tickets resold to the secondary market</span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="mb-lg-4 mb-0 text-center px-6">
              <h4 class="h2">$15B</h4>
              <span>revenue lost to the secondary market</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-7 pt-lg-16 pb-lg-10 top-shape" id="4" style="background: linear-gradient(360deg, #ffffff 0%, rgba(255, 255, 255, 0) 102.23%), #f8f8f8;">
  <div class="container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-12">
        <div class="mb-8 text-center">
          <h2 class="mb-3 h1">
            Solution
          </h2>
          <p class="px-lg-10 lead">
            Ask people what they are willing to pay. OneWeek Tickets conducts price discovery through a first-price sealed-bid auction. Ticket buyers bid what they are willing to pay and don’t know what others bid.
          </p>
        </div>
      </div>
      <div class="offset-xl-1 col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="mb-4 mb-lg-0">
          <img src="../assets/images/customer-img-1.jpg" alt="" class="img-fluid rounded" />
        </div>
      </div>
      <div class="offset-xl-1 col-xl-5 col-lg-6 col-md-6">
        <i class="fas fa-quote-left font-28 text-secondary mb-5"></i>
        <p class="h2 font-dm-serif font-italic font-weight-normal mb-3">
          It's not rocket science. It's rock-n-roll!
        </p>
        <p class="font-14 mb-5">Jim Green, Green Machine Concerts</p>
      </div>
    </div>
  </div>
</div>

<div class="py-7 pt-lg-16 pb-lg-10" id="5">
  <div class="container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-12">
        <div class="mb-8 text-center">
          <h2 class="mb-3 h1">
            Demo
          </h2>
          <p class="px-lg-10 lead">
            Coach works with the world’s top entrepreneurs, CEOs and companies to dramatically grow their business, develop their people, and elevate their own performance.
          </p>
        </div>
        <!-- conters -->
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12">
            <h3>Scenario</h3>
            <p>The end of the pandemic is in-sight and you are eager for some live entertainment! 
            Today, you will be looking to purchase tickets for yourself and a friend to see the 
            popular German rock band, Rammstein. You want to see them on May 20, 2022 in the city 
            of Leipzig (Germany) at the Red Bull Arena. Have fun!</p>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <p>You have received an email announcement from Rammstein with their 2022 tour dates. 
            Find the date you want to attend and click the link to continue. Reminder: You are 
            looking for May 20, 2022 in the city of Leipzig (Germany) at the Red Bull Arena.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <a href="{{ /demo/ | absolute_url }}" target="_blank">Click here to read the email</a>
            <p>For payment, use this card information:</p>
            <ol>
              <li>Email: the same email address</li>
              <li>Number: 4242 4242 4242 4242</li>
              <li>Expire: 12/34</li>
              <li>CVC: 123</li>
              <li>Name on card: test</li>
              <li>Country: any</li>
            </ol>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-7 pt-lg-16 pb-lg-10" id="6">
  <div class="container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-12">
        <div class="mb-8 text-center">
          <h2 class="mb-3 h1">
            Screenshots
          </h2>
          <p class="px-lg-10 lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
          </p>
        </div>
      </div>
    </div>
    <div class="row d-flex align-items-end">
      <div class="row">
        <div class="col-4 col-md-2 mb-2 mb-lg-2">
          <img src="/assets/images/ios-iphone12-mockup.png" alt="" class="img-fluid rounded h-100 w-100 img-hover-zoom--basic" />
        </div>
        <div class="col-4 col-md-2 mb-2 mb-lg-2">
          <img src="/assets/images/ios-iphone12-mockup.png" alt="" class="img-fluid rounded h-100 w-100" />
        </div>
        <div class="col-4 col-md-2 mb-2 mb-lg-2">
          <img src="/assets/images/ios-iphone12-mockup.png" alt="" class="img-fluid rounded h-100 w-100" />
        </div>
        <div class="col-4 col-md-2 mb-2 mb-lg-2">
          <img src="/assets/images/ios-iphone12-mockup.png" alt="" class="img-fluid rounded h-100 w-100" />
        </div>
        <div class="col-4 col-md-2 mb-2 mb-lg-2">
          <img src="/assets/images/ios-iphone12-mockup.png" alt="" class="img-fluid rounded h-100 w-100" />
        </div>
        <div class="col-4 col-md-2 mb-2 mb-lg-2">
          <img src="/assets/images/ios-iphone12-mockup.png" alt="" class="img-fluid rounded h-100 w-100" />
        </div>
      </div>
      <div class="col-xl-5 col-lg-12 col-md-12 col-12 mt-3 mt-xl-0">
        <p class="mb-9">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="pt-16 pb-16 bg-primary" id="7">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="text-white pe-10 mb-8 mb-lg-0">
          <h2 class="display-4 text-white mb-3">
            Use Cases
          </h2>
          <p class="lead">
            Explore use-cases for how to best price your event tickets.
          </p>
        </div>
      </div>
      {% for landing-page in site.landing-pages limit:3 %}
      <div class="col-lg-6 col-md-6 mb-4">
        <div class="img-overlay img-zoom">
          <a href="#">
            <img class="rounded img-fluid w-100" src="{{ landing-page.image }}" alt="" />
          </a>
          <div class="caption">
            <a href="{{ landing-page.url }}" class="btn btn-outline-white btn-lg" target="_blank">{{ landing-page.title }}</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include footer.html %}
