<!-- Gallery CSS -->
<link rel="stylesheet" href="{{ '/assets/libs/lightbox/css/lightbox.min.css' | relative_url }}">

<div class="row">
  {% for image in include.images %}
  <div class="col-md-6">
    <a class="example-image-link" href="{{ image.url | relative_url }}" data-lightbox="example-set" data-title="{{ image.caption }}">
      {% cloudinary {{ image.url | relative_url }} alt="{{ image.alt }}" description="{{ image.caption }}" class="figure-img rounded" %}
    </a>
  </div>
  {% endfor %}
</div>