<!-- Modal Button -->
<a class="btn btn-primary btn-lg mx-auto text-white" data-toggle="modal" data-target="#admodal">
  {% if include.btn-text %}{{ include.btn-text }}{% else %}Special offer{% endif %}
</a>

<!-- Modal -->
<div id="admodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" style="background-image: linear-gradient(to right bottom, #ffa600, #ef6442, #bb385c, #71295e, #281c43);">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
        {% include exponential-happiness-sample.html %}
      <div class="modal-footer">
        <small id="emailHelp" class="form-text text-warning">You will be subscribed to email updates. Unsubscribe anytime.</small>
      </div>  
    </div>
  </div>
</div>