<style>
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
</style>

<!-- Button trigger modal -->
<div class="d-grid gap-2">
  <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalBid">
    {{ include.button-text }}
  </button>
</div>

<!-- Modal -->
<div class="modal" id="modalBid" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="modalBidLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl modal-fullscreen-lg-down">
    <div class="modal-content rounded-0">
      <div class="modal-body p-0">
        <div class="container-fluid p-0">
          <div class="row g-0">
            <div class="col-12 col-lg-7 col-xl-8 p-3 p-lg-5">
              <div class="row text-center border-1 border-bottom border-light mb-4 pb-2">
                <div class="position-relative">
                  <button type="button" class="btn-close btn-close position-absolute top-0 end-0 p-2 d-lg-none" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <h4>{{ page.title }}</h4>
                <p class="small">{{ page.event-date | date: "%B %e, %Y" }} <span>&#183;</span> {{page.doors}} <span>&#183;</span> {{ page.city }} <span>&#183;</span> {{ page.venue }}</p>
              </div>
    
              <form class="row g-3 needs-validation" novalidate>
                <div class="row justify-content-between mb-4 pb-2">
                  <div class="col-12 col-lg-8">
                    <p class="h4 fw-bold">Tickets</p>
                    <p class="h5 fw-bold mb-0">General Admission</p>
                    <div id="clock1" class="countdown small text-danger auctionclock"></div>
                    <a class="text-reset small" data-bs-toggle="collapse" href="#collapseTicketsHelp" role="button" aria-expanded="false" aria-controls="collapseTicketsHelp">
                      What does this mean? <i class="far fa-question-circle small"></i>
                    </a>
                    <div class="collapse" id="collapseTicketsHelp">
                      <p class="small">One Week helps you get a ticket to the show, without having to pay exorbitant prices from ticket resellers. We’re cutting out the middleman.</p>
                    </div>
                  </div>

                  <div class="col-12 col-lg-4">
                    <select class="form-select" id="qty" aria-label="Quantity of tickets" required>
                      <option value="1" selected>1 Ticket</option>
                      <option value="2">2 Tickets</option>
                      <option value="3">3 Tickets</option>
                      <option value="4">4 Tickets</option>
                      <option value="5">5 Tickets</option>
                      <option value="6">6 Tickets</option>
                      <option value="7">7 Tickets</option>
                      <option value="8">8 Tickets</option>
                      <option value="9">9 Tickets</option>
                      <option value="10">10 Tickets</option>
                    </select>
                    <div class="invalid-feedback">
                      Please select quantity.
                    </div>
                  </div>
                </div>

                <div class="row justify-content-between mb-4 pb-2">
                  <div class="col-12 col-lg-8">
                    <p class="h4 fw-bold">Price</p>
                    <p class="h5 fw-bold mb-0">
                      Pay what you want
                    </p>
                    <a class="text-reset small" data-bs-toggle="collapse" href="#collapsePriceHelp" role="button" aria-expanded="false" aria-controls="collapsePriceHelp">
                      How much should I bid? <i class="far fa-question-circle small"></i>
                    </a>
                    <div class="collapse" id="collapsePriceHelp">
                      <p class="small">You should bid what you think is reasonable to pay for one ticket to this event.</p>
                    </div>
                  </div>
                  <div class="col-12 col-lg-4">
                    <div class="input-group">
                      <span class="input-group-text bg-white border-end-0">$</span>
                      <input type="number" id="amt" class="form-control border-start-0" placeholder="" min="1" max="999" aria-label="Amount (to the nearest dollar)" required />
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div class="col-12 col-lg-5 col-xl-4 bg-light p-0">
              <div class="row g-0 d-none d-lg-block">
                {% cloudinary {{ page.hero }} alt="{{ page.title }}" class="img-fluid mb-5" %}
                <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 p-3 m-2" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="row g-0 p-3 small">
                <h4 class="mb-2">Your Bid</h4>
                <a class="text-reset mb-3" data-bs-toggle="collapse" href="#collapseBidHelp" role="button" aria-expanded="false" aria-controls="collapseBidHelp">This is the offer you will submit for these tickets. <i class="far fa-question-circle small"></i> </a>
                <div class="collapse" id="collapseBidHelp">
                  {% include auction-usp-explainer.html %}
                </div>





                <div class="row justify-content-between g-0">
                  <div class="col-6">
                    <p>Quantity</p>
                  </div>
                  <div class="col-4" >
                    <p id="listqty">1</p>
                  </div>
                </div>

                <div class="row justify-content-between g-0">
                  <div class="col-6">
                    <p>Bid, per ticket</p>
                  </div>
                  <div class="col-4" >
                    <p id="listbid">$0.00</p>
                  </div>
                </div>

                <div class="row justify-content-between g-0">
                  <div class="col-6">
                    <p>Subtotal</p>
                  </div>
                  <div class="col-4" >
                    <p id="listsub">$0.00</p>
                  </div>
                </div>

                <div class="row justify-content-between g-0">
                  <div class="col-7">
                    <a class="text-reset" data-bs-toggle="collapse" href="#collapseFees" role="button" aria-expanded="false" aria-controls="collapseFees"> Taxes & Service Fees <i class="far fa-question-circle small"></i> </a>
                    <div class="collapse" id="collapseFees">
                      <p class="fw-bold small mb-0">Service Fee</p>
                      <p class="small">This 15% service feel helps us operate OneWeek Tickets</p>
                      <p class="fw-bold small mb-0">Taxes</p>
                      <p class="small">The tax rate for this purchase is 8.5%</p>
                    </div>
                  </div>
                  <div class="col-4" >
                    <p id="listfee">$0.00</p>
                  </div>
                </div>

                <div class="row justify-content-between g-0">
                  <div class="col-6">
                    <a class="text-reset" data-bs-toggle="collapse" href="#collapseDelivery" role="button" aria-expanded="false" aria-controls="collapseDelivery"> Delivery <i class="far fa-question-circle small"></i> </a>
                    <div class="collapse" id="collapseDelivery">
                      <p class="fw-bold small mb-0">Will-Call Pickup</p>
                      <p class="small">Your ticket will be available to pick up at the venue the day of the event.</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <p>Free</p>
                  </div>
                </div>

                <div class="row justify-content-between g-0">
                  <div class="col-6">
                    <p class="fw-bold">Total</p>
                  </div>
                  <div class="col-4" >
                    <p class="fw-bold" id="listtotal">$0.00</p>
                  </div>
                </div>
                <p>By continuing past this page, you agree to our <a href="{{'terms' | absolute_url}}" target="_block">terms</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="container-fluid p-0">
          <div class="row justify-content-between">
            <div class="col-12 col-lg-5 col-xl-4 order-lg-2">
              <div class="d-grid gap-2">
                <!-- <button class="btn btn-link loginbtn" href="#" class="loginbtn" data-logintype="login">Already have an account? Login</button> -->
                <button class="btn btn-primary loginbtn" href="#bid-module" role="button" data-bs-slide-to="3" data-logintype="signup">Continue to payment</button>
              </div>
            </div>
            <div class="col-12 col-lg-7 col-xl-8 order-lg-1 mt-2">
              <p class="me-auto text-center text-lg-start mb-0">
                Powered by <em><strong>OneWeek</strong>Tickets</em>
                <span class="badge rounded-pill bg-success-soft">
                  <!-- <i class="fas fa-ticket-alt"></i> -->
                  <i class="fas fa-check-circle"></i>
                  <strong><em>Verified</em></strong>Auction
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
