<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#create-event">
  Add New
</button>

<!-- Modal -->
<div class="modal" id="create-event" tabindex="-1" role="dialog" aria-labelledby="Create a new event" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Create a new event">Add New Event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        We are still building this functionality. To add an event, please contact <a href="mailto:events@oneweektickets.com" target="_blank">events@oneweektickets.com</a> and one of our representatives will work with you to get your
        events setup.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>