<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-event-bid">
  Continue to payment
</button>

<!-- Modal -->
<div class="modal fade" id="modal-event-bid" tabindex="-1" role="dialog" aria-labelledby="modal-event-bid" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl m-sm-auto m-0" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <!-- card -->
              <div class="card mb-4">
                <!-- card header -->
                <div class="card-header bg-white p-4">
                  <h4 class="mb-0">Billing Address</h4>
                </div>
                <!-- card body -->
                <div class="card-body p-4">
                  <!-- form -->
                  <form class="row">
                    <div class="form-group col-12 col-lg-6 col-md-12">
                      <label class="font-14 text-dark" for="fname">First Name</label>
                      <input type="text" id="fname" class="form-control" placeholder="First Name" required="" />
                    </div>
                    <div class="form-group col-12 col-lg-6 col-md-12">
                      <label class="font-14 text-dark" for="lname">Last Name</label>
                      <input type="text" id="lname" class="form-control" placeholder="Last Name" required="" />
                    </div>
                    <div class="form-group col-12 col-lg-6 col-md-12">
                      <label class="font-14 text-dark" for="email">Email Address</label>
                      <input class="form-control" type="email" placeholder="Email here" id="email" name="email" />
                    </div>
                    <div class="form-group col-12 col-lg-6 col-md-12">
                      <label class="font-14 text-dark" for="phone">Phone</label>
                      <input type="text" id="phone" class="form-control" placeholder="Phone" required="" />
                    </div>

                    <div class="form-group col-12 col-lg-6 col-md-12">
                      <label class="font-14 text-dark" for="address">Street Address</label>
                      <input type="text" id="address" class="form-control" placeholder="Address" required="" />
                    </div>
                    <div class="form-group col-12 col-lg-6 col-md-12">
                      <label class="font-14 text-dark" for="address2">Apt, suite, etc.</label>
                      <input type="text" id="address2" class="form-control" placeholder="Address" required="" />
                    </div>
                    <div class="form-group col-12 col-lg-4 col-md-12">
                      <label class="font-14 text-dark">State</label>
                      <select class="custom-select">
                        <option selected="">Select State</option>
                        <option value="1">Gujarat</option>
                        <option value="2">Rajshathan</option>
                        <option value="3">Maharashtra</option>
                      </select>
                    </div>
                    <div class="form-group col-12 col-lg-4 col-md-12">
                      <label class="font-14 text-dark">Country</label>
                      <select class="custom-select">
                        <option selected="">Select Country</option>
                        <option value="1">India</option>
                        <option value="2">UK</option>
                        <option value="3">USA</option>
                      </select>
                    </div>
                    <div class="form-group col-12 col-lg-4 col-md-12">
                      <label class="font-14 text-dark" for="zipcode">ZipCode</label>
                      <input type="text" id="zipcode" class="form-control" placeholder="ex:000000" required="" />
                    </div>
                    <div class="mt-3 col-12">

                     
                    </div>

                    <div class="border-bottom pb-3 mt-4 mb-4 col-12">
                      <h4 class="mb-0">Payment Method</h4>
                    </div>
                    <div class="col-12 mb-4">
                      <div class="custom-control custom-radio custom-control-inline mr-1">
                        <input type="radio" id="paymentRadioOne" name="paymentRadioOne" class="custom-control-input" checked="" />
                        <label class="custom-control-label" for="paymentRadioOne">Credit card</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline mr-1">
                        <input type="radio" id="paymentRadioTwo" name="paymentRadioOne" class="custom-control-input" />
                        <label class="custom-control-label" for="paymentRadioTwo">Debit card</label>
                      </div>
                    </div>

                    <div class="form-group col-12 col-lg-6 col-md-12">
                      <label for="nameoncard" class="text-dark">Name on card</label>
                      <input id="nameoncard" type="text" class="form-control" name="nameoncard" placeholder="Name" required="" />
                    </div>
                    <div class="form-group col-lg-6 col-md-12">
                      <label for="cc-mask" class="text-dark">Card Number</label>
                      <input type="text" class="form-control cc-inputmask" id="cc-mask" placeholder="xxxx-xxxx-xxxx-xxxx" required="" inputmode="text" />
                    </div>
                    <div class="form-group col-12 col-lg-4 col-md-6">
                      <label class="font-14 text-dark">Expiration</label>
                      <select class="custom-select">
                        <option selected="">MM/YY</option>
                        <option value="09/20">09/20</option>
                        <option value="10/20">10/20</option>
                        <option value="11/20">11/20</option>
                      </select>
                    </div>
                    <div class="form-group col-lg-4 col-md-6">
                      <div class="form-group">
                        <label for="cvv" class="text-dark">
                          CVV Code <i class="fas fa-question-circle ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="A 3 - digit number, typically printed on the back of a card."></i>
                        </label>
                        <input type="password" class="cc-inputmask form-control" name="cvv" id="cvv" placeholder="xxx" maxlength="3" required="" inputmode="text" />
                      </div>
                    </div>

                    <div class="border-bottom pb-3 mt-4 mb-4 col-12">
                      <h4 class="mb-0">Payment Method</h4>
                    </div>
                    <div class="col-12 mb-4">
                      <!-- list -->
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                          <h5 class="mb-0">Subtotal</h5>
                          <span>$16.00</span>
                        </li>
                        <!-- list -->
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                          <h5 class="mb-0">Discount</h5>
                          <span class="text-success">$-2.00</span>
                        </li>
                        <!-- list -->
                        <li class="list-group-item p-3">
                          <div class="d-flex justify-content-between align-items-center mb-4">
                            <h5 class="mb-0">Delivery</h5>
                            <span class="text-dark text-uppercase">Free</span>
                          </div>

                          <div class="custom-control custom-radio mb-3">
                            <input type="radio" id="freeDelivery" name="customRadio" class="custom-control-input" checked="" />
                            <label class="custom-control-label" for="freeDelivery">
                              Free - Standard delivery<br />
                              <small>Shipment may take 5-6 business days.</small>
                            </label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input type="radio" id="expressDelivery" name="customRadio" class="custom-control-input" />
                            <label class="custom-control-label" for="expressDelivery">
                              $2.99 - Express delivery <br />
                              <small>Shipment may take 5-6 business days.</small>
                            </label>
                          </div>
                        </li>
                        <!-- list -->
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                          <h5 class="mb-0">Tax</h5>
                          <span class="text-dark">---</span>
                        </li>
                        <!-- list -->
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                          <h5 class="mb-0">Total</h5>
                          <span class="text-primary">$14.00</span>
                        </li>
                        <!-- list -->
                        <li class="list-group-item p-3">
                          <a href="/login" class="btn btn-primary btn-block">Procees to checkout </a>
                        </li>
                      </ul>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://js.stripe.com/v3/"></script>

