
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-event-bid">
  Get tickets
</button>

<!-- Modal -->
<div class="modal" id="modal-event-bid" tabindex="-1" role="dialog" aria-labelledby="modal-event-bid" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 col-12">













              






















              <!-- para -->
              <div class="mt-5">
                <h2 class="font-weight-bold">
                  How does the auction work?
                </h2>
                <p class="font-size-md">
                  You and everyone else who wants to go to the show places a bid. The top 1/7th of bids each day have their bids exchanged for tickets.
                </p>
                <p class="mb-3 font-size-md">
                  To increase your opportunity of having a successful bid, we run this auction once a day for 7 days. If you bid on day 1, you’re bid will remain in the auction until you either get your ticket(s), or 7 days has passed.
                </p>
              </div>

            </div>
            <div class="col-md-6 col-12 ms-auto">

              <div class="bg-dark p-3 p-md-4 p-lg-8 rounded-lg">

                


                <div id="carouselExampleIndicators" data-ride="carousel" data-interval="">
                  <style>
                    /* Chrome, Safari, Edge, Opera */
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                      -webkit-appearance: none;
                      margin: 0;
                    }
        
                    /* Firefox */
                    input[type="number"] {
                      -moz-appearance: textfield;
                    }
                  </style>
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  
                  <div class="carousel-inner">
                    <form action="/payment">
        
                      <div class="carousel-item active">
                        <h2 class="mb-2 text-white">Quantity</h2>
                        <p class="text-light">How many tickets would you like to this event?</p>
                        <div class="form-group my-4">
                          <label for="quantity">Number of tickets<abbr title="This field is mandatory" aria-label="required">*</abbr></label>
                          <input type="number" id="qty" class="form-control" placeholder="1" value="1" min="1" max="10" aria-label="quantity" required />
                        </div>
                        <a class="btn btn-secondary btn-block mt-2" href="#carouselExampleIndicators" role="button" data-slide-to="1" id="quantitybtn">Next</a>
                      </div>
        
                      <div class="carousel-item">
                        <h2 class="mb-2 text-white">Price</h2>
                        <p class="text-light">What would you like to pay for your tickets?</p>
                        <div class="input-group my-4">
                          <label for="password">Price per ticket<abbr title="This field is mandatory" aria-label="required">*</abbr></label>
                          <a class="ms-auto font-14" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="You should bid what you think is reasonable to pay for one ticket to this event.">What should I bid?</a>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-white">$</span>
                            </div>
                            <input type="number" id="amt" class="form-control" placeholder="0.00" value="1" min="1" max="999" aria-label="Amount (to the nearest dollar)" required />
                          </div>
                        </div>
                        <a class="btn btn-secondary btn-block" href="#carouselExampleIndicators" role="button" data-slide-to="2"  id="pricebtn">Next</a>
                      </div>
        
                      <div class="carousel-item">
                        <h2 class="mb-2 text-white">Overview</h2>
                        <p class="text-light">This is the offer you will submit for these tickets.</p>
                        <dl class="row text-light">
                          <dt class="col-sm-8">Quantity</dt>
                          <dd class="col-sm-4" id="listqty" data-raw="">0</dd>
                          <dt class="col-sm-8">Bid, per ticket</dt>
                          <dd class="col-sm-4" id="listbid" data-raw="">$0.00</dd>
                          <dt class="col-sm-8">Subtotal</dt>
                          <dd class="col-sm-4" id="listsub" data-raw="">$0.00</dd>
                          <dt class="col-sm-8">Service fee (7%)</dt>
                          <dd class="col-sm-4"id="listfee">$0.00</dd>
                          <dt class="col-sm-8">Total</dt>
                          <dd class="col-sm-4" id="listtotal" data-raw="">$0.00</dd>
                        </dl>
                        <button type="button" class="btn btn-primary btn-block" id="loginbtn">
                          Login to Submit Bid
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>