{% if paginator.total_pages > 1 %}
<!-- pagination -->
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-8">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

      {% if paginator.previous_page %}
      <li class="page-item me-2">
        <a class="page-link rounded" href="{{ paginator.previous_page_path | relative_url }}">&laquo;</a>
      </li>
      {% endif %}

      {% if paginator.page_trail %}
      {% for trail in paginator.page_trail %}
      <li class="page-item me-2{% if page.url == trail.path %} active{% endif %}" >
        <a href="{{ trail.path | relative_url }}" title="{{ trail.title }} page {{ trail.num }}" class="page-link roundedk">{{ trail.num }}</a>
      </li>
      {% endfor %}
      {% endif %}

      {% if paginator.next_page %}
      <li class="page-item me-2">
        <a class="page-link rounded" href="{{ paginator.next_page_path | relative_url }}">&raquo;</a>
      </li>
      {% endif %}

    </ul>
  </nav>
</div>
{% endif %}