.min-vh-60 {
  min-height: 60vh !important;
}
.vh-60 {
  height: 60vh !important;
}
.min-vh-80 {
  min-height: 90vh !important;
}
.vh-80 {
  height: 90vh !important;
}
.right-slant-shape:after {
  bottom: -1px;
}