---
title:            Events
---

<div class="col-lg-9 col-md-8 col-12">
  <div class="card mb-4">
    <!-- card header -->
    <div class="card-header bg-white p-4 d-flex justify-content-between align-items-center">
      <h4 class="mb-0">Upcoming Events</h4>
      {% include modal-account-settings-events-add-new.html %}
    </div>

    <!-- card body -->
    <div class="card-body p-4">
      <ul class="list-group list-group-flush">
        {% for event in site.events %} {% if forloop.first == true %}
        <li class="list-group-item px-0 pb-3 pt-0">
        {% elsif forloop.last == true %}
        <li class="list-group-item px-0 pt-3 pb-0">
        {% else %}
        <li class="list-group-item px-0 py-3">
        {% endif %}
          <div class="row">
            <a class="stretched-link" data-bs-toggle="collapse" href="#collapse-{{ forloop.index }}" role="button" aria-expanded="false" aria-controls="collapse-{{ forloop.index }}"></a>
            <div class="col-8 col-lg-4 order-1">
              <h5 class="mb-0">
                {{ event.title }}
              </h5>
              <p class="mb-0 small">{{ event.event-date | abbreviated_date }} | {{ event.city }}, {{ event.state }}</p>
            </div>
            <div class="col-4 col-lg-2 text-end order-2 order-lg-4 p-0">
              {% if event.status == 'optimized' %}
              <span class="badge bg-success me-lg-4 me-0">Optimized</span>
              {% elsif event.status == 'auction' %}
              <span class="badge bg-light-success text-dark me-lg-4 me-0">Auction</span>
              {% elsif event.status == 'draft' %}
              <span class="badge bg-light text-dark me-lg-4 me-0">Draft</span>
              {% endif %}

              <span class="dropdown">
                <a class="text-muted text-decoration-none" href="#" role="button" id="dropdown-{{ forloop.index }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fe fe-more-vertical"></i>
                </a>
                <span class="dropdown-menu dropdown-menu-right dropdown-menu-md-left" aria-labelledby="dropdown-{{ forloop.index }}" style="">
                  <a class="dropdown-item" href="{{ event.url | absolute_url }}" target="_blank">View</a>
                  {% include modal-account-settings-events-edit.html %}
                  <a class="dropdown-item d-flex justify-content-between" href="#!">
                    Settlement <span class="badge bg-dark text-end text-white">Pro <i class="fas fa-crown text-warning"></i></span>
                  </a>
                  <a class="dropdown-item" href="#!">Remove</a>
                </span>
              </span>
            </div>
            <div class="col-6 col-lg-3 order-3 order-lg-2 mt-1 mt-md-0">
              {% if event.tickets-sold %}
              <p class="mb-0 small">{{ event.tickets-sold | round }} / {{ event.tickets-available | round }}</p>
              <div class="progress ms-auto" style="height: 5px;">
                <div
                  class="progress-bar bg-warning"
                  role="progressbar"
                  style="width: {{ event.tickets-sold | divided_by: event.tickets-available | times: 100 | round }}%"
                  aria-valuenow="{{ event.tickets-sold | divided_by: event.tickets-available | times: 100 | round }}"
                  aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
              {% endif %}
            </div>
            <div class="col-6 col-lg-3 order-4 order-lg-3 mt-1 mt-md-0">
              <p class="mb-0 small">${{ event.revenue | round }} / ${{ event.break-even | round }}</p>
              <div class="progress ms-auto" style="height: 5px;">
                <div 
                  class="progress-bar bg-success" 
                  role="progressbar" 
                  style="width: {{ event.revenue | divided_by: event.break-even | times: 100 | round }}%;" 
                  aria-valuenow="{{ event.revenue | divided_by: event.break-even | times: 100 | round }}" 
                  aria-valuemin="0" 
                  aria-valuemax="100" >
              </div>
              </div>
            </div>
          </div>
          <div class="collapse" id="collapse-{{ forloop.index }}">
            <div class="card card-body mt-3 border-0 p-0">
              <canvas id="myChart" width="1600" height="900"></canvas>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-white p-4">
      <h4 class="mb-0">Event History</h4>
    </div>

    <div class="table-responsive border-0">
      <table class="table mb-0 text-nowrap">
        <thead class="bg-light">
          <tr>
            <th scope="col" class="py-2 border-bottom-0">ID</th>
            <th scope="col" class="py-2 border-bottom-0">DATE</th>
            <th scope="col" class="py-2 border-bottom-0">EVENT NAME</th>
            <th scope="col" class="py-2 border-bottom-0">REVENUE</th>
            <th scope="col" class="py-2 border-bottom-0">REPORT</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-middle">e5BZptmrBl</td>
            <td class="align-middle">2020-12-07</td>
            <td class="align-middle">Galactic</td>
            <td class="align-middle">$5.00</td>
            <td class="align-middle">
              <a href="#!"><i class="fe fe-download"></i></a>
            </td>
          </tr>
          <tr>
            <td class="align-middle">4aS1taQR4F</td>
            <td class="align-middle">2020-11-07</td>
            <td class="align-middle">Galactic</td>
            <td class="align-middle">$5.00</td>
            <td class="align-middle">
              <a href="#!"><i class="fe fe-download"></i></a>
            </td>
          </tr>
          <tr>
            <td class="align-middle">jnUIsm4j5E</td>
            <td class="align-middle">2020-10-07</td>
            <td class="align-middle">Galactic</td>
            <td class="align-middle">$5.00</td>
            <td class="align-middle">
              <a href="#!"><i class="fe fe-download"></i></a>
            </td>
          </tr>
          <tr>
            <td class="align-middle">NPigkt3dxj</td>
            <td class="align-middle">2020-09-07</td>
            <td class="align-middle">Galactic</td>
            <td class="align-middle">$5.00</td>
            <td class="align-middle">
              <a href="#!"><i class="fe fe-download"></i></a>
            </td>
          </tr>
          <tr>
            <td class="align-middle">xzxxGXcIqk</td>
            <td class="align-middle">2020-09-07</td>
            <td class="align-middle">Galactic</td>
            <td class="align-middle">$5.00</td>
            <td class="align-middle">
              <a href="#!"><i class="fe fe-download"></i></a>
            </td>
          </tr>
          <tr>
            <td class="align-middle">cvll5njW1r</td>
            <td class="align-middle">2020-09-07</td>
            <td class="align-middle">Galactic</td>
            <td class="align-middle">$5.00</td>
            <td class="align-middle">
              <a href="#!"><i class="fe fe-download"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Chart JS -->
<script 
  src="https://cdn.jsdelivr.net/npm/chart.js@3.2.0/dist/chart.min.js" 
  integrity="sha256-ovnFmAOngtHmlhZzPyGrofexz4Kdik4kEobc8B9r1Yk=" 
  crossorigin="anonymous" async defer>
</script>
<script>
  $( document ).ready(function() {
    var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: years,
          datasets: [
            {
              data: africa,
              label: "Africa",
              borderColor: "#3e95cd",
              fill: false,
            },
            {
              data: asia,
              label: "Asia",
              borderColor: "#3e95cd",
              fill: false,
            },
            {
              data: europe,
              label: "Europe",
              borderColor: "#3e95cd",
              fill: false,
            },
            {
              data: latinAmerica,
              label: "Latin America",
              borderColor: "#3e95cd",
              fill: false,
            },
            {
              data: northAmerica,
              label: "North America",
              borderColor: "#3e95cd",
              fill: false,
            },
          ],
        },
      });
    });
</script>