---
title:            Events
---

<!-- Chart JS -->
<script 
  src="https://cdn.jsdelivr.net/npm/chart.js@3.2.0/dist/chart.min.js" 
  integrity="sha256-ovnFmAOngtHmlhZzPyGrofexz4Kdik4kEobc8B9r1Yk=" 
  crossorigin="anonymous" async defer>
</script>

<div class="col-lg-9 col-md-8 col-12">
  <div class="card mb-4">
    <!-- card header -->
    <div class="card-header bg-white p-4 d-flex justify-content-between align-items-center">
      <h4 class="mb-0">Upcoming Events</h4>
      <!-- Modal trigger: create new event -->
      <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#create-event">
        Add New
      </button>
      <!-- Modal: Create New Event -->
      <div class="modal fade" id="create-event" tabindex="-1" role="dialog" aria-labelledby="Create a new event" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="Create a new event">Add New Event</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              We are still building this functionality. To add an event, please contact <a href="mailto:events@oneweektickets.com" target="_blank">events@oneweektickets.com</a> and one of our representatives will work with you to get your
              events setup.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- card body -->
    <div class="card-body p-4">
      <ul class="list-group list-group-flush">
        {% for event in site.events %} 
        {% if forloop.first == true %}
        <li class="list-group-item px-0 pb-3 pt-0">
        {% elsif forloop.last == true %}
        <li class="list-group-item px-0 pt-3 pb-0">
        {% else %}
        <li class="list-group-item px-0 py-3">
        {% endif %}
          <div class="row">
            <div class="col-8 col-lg-4 order-1">
              <h5 class="mb-0">
                {{ event.title }}
              </h5>
              <p class="mb-0 small">{{ event.event-date | abbreviated_date }} | {{ event.city }}, {{ event.state }}</p>
            </div>
            <div class="col-4 col-lg-2 text-end order-2 order-lg-4">
              {% if event.status == 'optimized' %}
              <a data-bs-toggle="collapse" href="#collapse-{{ forloop.index }}" role="button" aria-expanded="false" aria-controls="collapse-{{ forloop.index }}">
                <span class="badge bg-success me-lg-2 me-0">Optimized</span>
              </a>
              {% elsif event.status == 'auction' %}
              <a data-bs-toggle="collapse" href="#collapse-{{ forloop.index }}" role="button" aria-expanded="false" aria-controls="collapse-{{ forloop.index }}">
                <span class="badge bg-light-success text-dark me-lg-2 me-0">Auction</span>
              </a>
              {% elsif event.status == 'draft' %}
              <span class="badge bg-light text-dark me-lg-2 me-0">Draft</span>
              {% endif %}
              <span class="dropdown">
                <a class="text-muted text-decoration-none" href="#" role="button" id="dropdown-{{ forloop.index }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v"></i>
                </a>
                <span class="dropdown-menu dropdown-menu-right dropdown-menu-md-left" aria-labelledby="dropdown-{{ forloop.index }}" style="">
                  <a class="dropdown-item" href="{{ event.url | absolute_url }}" target="_blank">
                    View
                  </a>
                  <!-- Modal trigger: edit event -->
                  <a class="dropdown-item" href="!#" data-bs-toggle="modal" data-bs-target="#edit-event-{{ forloop.index }}">
                    Edit
                  </a>
                  <a class="dropdown-item d-flex justify-content-between" href="#!" data-bs-toggle="modal" data-bs-target="#settlement-sheet-{{ forloop.index }}">
                    Settlement <span class="badge bg-dark text-end text-white">Pro <i class="fas fa-crown text-warning"></i></span>
                  </a>
                  <a class="dropdown-item" href="!#" data-bs-toggle="modal" data-bs-target="#remove-event-{{ forloop.index }}">
                    Remove
                  </a>
                </span>
              </span>
            </div>

            <!-- Modal: Edit Event -->
            <div class="modal fade" id="edit-event-{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="Edit this event" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Edit Event: {{ event.title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    We are still building this functionality. To add edit an event, please contact <a href="mailto:events@oneweektickets.com" target="_blank">events@oneweektickets.com</a>.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal: Settlement Sheet -->
            <div class="modal fade" id="settlement-sheet-{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="Settlement sheet for this event" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Settlement Sheet: {{ event.title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    We are still building this functionality. To add a settlement sheet to an event, please contact <a href="mailto:events@oneweektickets.com" target="_blank">events@oneweektickets.com</a>.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal: Remove Event -->
            <div class="modal fade" id="remove-event-{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="Settlement sheet for this event" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Remove Event: {{ event.title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    We are still building this functionality. To remove an event, please contact <a href="mailto:events@oneweektickets.com" target="_blank">events@oneweektickets.com</a>.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-3 order-3 order-lg-2 mt-1 mt-md-0">
              {% if event.tickets-sold %}
              <p class="mb-0 small">{{ event.tickets-sold | round }} / {{ event.tickets-available | round }}</p>
              <div class="progress ms-auto" style="height: 5px;">
                <div
                  class="progress-bar bg-warning"
                  role="progressbar"
                  style="width: {{ event.tickets-sold | divided_by: event.tickets-available | times: 100 | round }}%"
                  aria-valuenow="{{ event.tickets-sold | divided_by: event.tickets-available | times: 100 | round }}"
                  aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
              {% endif %}
            </div>
            <div class="col-6 col-lg-3 order-4 order-lg-3 mt-1 mt-md-0">
              <p class="mb-0 small">${{ event.revenue | round }} / ${{ event.break-even | round }}</p>
              <div class="progress ms-auto" style="height: 5px;">
                <div 
                  class="progress-bar bg-success" 
                  role="progressbar" 
                  style="width: {{ event.revenue | divided_by: event.break-even | times: 100 | round }}%;" 
                  aria-valuenow="{{ event.revenue | divided_by: event.break-even | times: 100 | round }}" 
                  aria-valuemin="0" 
                  aria-valuemax="100" >
              </div>
              </div>
            </div>
          </div>
          <div class="collapse" id="collapse-{{ forloop.index }}">
            <div class="card card-body mt-3 border-0 p-0">
              <div class="alert alert-warning d-block d-sm-none" role="alert">
                Sales analytics available on screens 576px wide and larger.
              </div>
              <div class="d-none d-sm-block">
                <canvas id="myChart{{ forloop.index }}"></canvas>
                <script>
                  var ctx = document.getElementById("myChart{{ forloop.index }}").getContext("2d");
                  var myChart = new Chart(ctx, {
                    data: {
                      labels: ["Day 1", "Day 2", "Day 3", "Day 4", "Day 5", "Day 6", "Day 7"],
                      datasets: [
                        {
                          label: 'Tickets Sold',
                          data: [54,	49,	46,	43,	40,	37,	35],
                          backgroundColor: ['rgba(36,161,72,.5)'],
                          type: 'bar',
                          yAxisID: 'y',
                          order: 2
                        },
                        {
                          label: 'Bids Lost',
                          data: [321, 292, 273, 257, 237, 224, 211],
                          backgroundColor: ['rgba(234,67,54,.5)'],
                          type: 'bar',
                          yAxisID: 'y',
                          order: 1
                        },
                        {
                          label: 'Revenue',
                          data: [1745.89, 1587.60, 1485.17, 1396.71, 1289.63, 1215.14, 1145.31],
                          backgroundColor: ['rgba(23,162,184,.5)'],
                          borderColor: ['rgba(23,162,184,.5)'],
                          type: 'line',
                          yAxisID: 'y1',
                          order: 0
                        }
                      ],
                    },
                    options: {
                      plugins: {
                        title: {
                          display: true,
                          text: 'Sales Report'
                        },
                      },
                      responsive: true,
                      scales: {
                        x: {
                          stacked: true,
                        },
                        y: {
                          position: 'left',
                          beginAtZero: true,
                          stacked: true,
                        },
                        y1: {
                          position: 'right',
                          beginAtZero: true,
                          grid: {
                            drawOnChartArea: false,
                          },
                        },
                      },
                    },
                  });
                </script>
              </div>
            </div>
          </div>          
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-white p-4">
      <h4 class="mb-0">Past Events</h4>
    </div>

    <div class="table-responsive border-0">
      <table class="table mb-0 text-nowrap">
        <thead class="bg-light">
          <tr>
            <th scope="col" class="py-2 border-bottom-0">ID</th>
            <th scope="col" class="py-2 border-bottom-0">DATE</th>
            <th scope="col" class="py-2 border-bottom-0">EVENT NAME</th>
            <th scope="col" class="py-2 border-bottom-0">REVENUE</th>
            <th scope="col" class="py-2 border-bottom-0">REPORT</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-middle">e5BZptmrBl</td>
            <td class="align-middle">2020-12-07</td>
            <td class="align-middle">Galactic</td>
            <td class="align-middle">$5.00</td>
            <td class="align-middle">
              <a href="#!"><i class="fas fa-file-download"></i></a>
            </td>
          </tr>
          <tr>
            <td class="align-middle">4aS1taQR4F</td>
            <td class="align-middle">2020-11-07</td>
            <td class="align-middle">Galactic</td>
            <td class="align-middle">$5.00</td>
            <td class="align-middle">
              <a href="#!"><i class="fas fa-file-download"></i></a>
            </td>
          </tr>
          <tr>
            <td class="align-middle">jnUIsm4j5E</td>
            <td class="align-middle">2020-10-07</td>
            <td class="align-middle">Galactic</td>
            <td class="align-middle">$5.00</td>
            <td class="align-middle">
              <a href="#!"><i class="fas fa-file-download"></i></a>
            </td>
          </tr>
          <tr>
            <td class="align-middle">NPigkt3dxj</td>
            <td class="align-middle">2020-09-07</td>
            <td class="align-middle">Galactic</td>
            <td class="align-middle">$5.00</td>
            <td class="align-middle">
              <a href="#!"><i class="fas fa-file-download"></i></a>
            </td>
          </tr>
          <tr>
            <td class="align-middle">xzxxGXcIqk</td>
            <td class="align-middle">2020-09-07</td>
            <td class="align-middle">Galactic</td>
            <td class="align-middle">$5.00</td>
            <td class="align-middle">
              <a href="#!"><i class="fas fa-file-download"></i></a>
            </td>
          </tr>
          <tr>
            <td class="align-middle">cvll5njW1r</td>
            <td class="align-middle">2020-09-07</td>
            <td class="align-middle">Galactic</td>
            <td class="align-middle">$5.00</td>
            <td class="align-middle">
              <a href="#!"><i class="fas fa-file-download"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



