--- 
layout: account-settings 
---

<div class="col-lg-9 col-md-8 col-12">
  <div class="card rounded-lg mb-4">
    <!-- card header -->
    <div class="card-header bg-white p-4">
      <h3 class="mb-0 h4">Marketing &amp; Product</h3>
    </div>
    <!-- card body -->
    <div class="card-body p-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item px-0 pt-0 pb-3">
          <div class="d-flex justify-content-between">
            <div class="">
              <h5 class="mb-1">Sales &amp; Promotions</h5>
              <p class="mb-0">
                We only notify you for significant promotions.
              </p>
            </div>
            <div>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="salesSwitch" checked="" />
                <label class="custom-control-label" for="salesSwitch"></label>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item px-0 py-3">
          <div class="d-flex justify-content-between">
            <div class="">
              <h5 class="mb-1">Product Updates</h5>
              <p class="mb-0">
                Major changes in our product offering.
              </p>
            </div>
            <div>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="productSwitch" />
                <label class="custom-control-label" for="productSwitch"></label>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item px-0 py-3">
          <div class="d-flex justify-content-between">
            <div class="">
              <h5 class="mb-1">Newsletter</h5>
              <p class="mb-0">
                Updates on what’s going on here at Coach and latest release.
              </p>
            </div>
            <div>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="newsletterSwitch" checked="" />
                <label class="custom-control-label" for="newsletterSwitch"></label>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item px-0 py-3">
          <div class="d-flex justify-content-between">
            <div class="">
              <h5 class="mb-1">Security Alert</h5>
              <p class="mb-0">
                Updates on what’s going on here at Coach and latest release.
              </p>
            </div>
            <div>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="securitySwitch" />
                <label class="custom-control-label" for="securitySwitch"></label>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item px-0 pt-3 pb-0">
          <div class="d-flex justify-content-between">
            <div class="">
              <h5 class="mb-1">Events and offers</h5>
              <p class="mb-0">
                Updates on what’s going on here at Coach and latest release.
              </p>
            </div>
            <div>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="eventSwitch" checked="" />
                <label class="custom-control-label" for="eventSwitch"></label>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
