--- 
layout: account-settings 
---

<div class="col-lg-9 col-md-8 col-12">
  <div class="card rounded-lg mb-4">
    <!-- card header -->
    <div class="card-header bg-white p-4">
      <h3 class="mb-0 h4">Subscription Plan</h3>
    </div>
    <!-- card body -->
    <div class="card-body p-4">
      <div class="bg-light-primary p-4 rounded-lg mb-4">
        <div class="d-flex justify-content-between mb-4">
          <div class="font-13">
            <h4 class="mb-1">Basic Plan</h4>
            <span>2 Clients, 250 Storage Capacity</span>
          </div>
          <div class=""><span class="h4"> $19.00</span><span class="font-13 text-muted ms-1">/ month</span></div>
        </div>
        <div class="d-flex justify-content-between">
          <div class=""><a href="#!" class="btn btn-primary btn-sm me-4">Upgrade Plan</a><a href="#!" class="text-secondary">Cancel Subscription</a></div>
          <div class="font-13"><span> Next payment due</span><span class="text-dark ms-2 font-weight-bold">April 22, 2021</span></div>
        </div>
      </div>
      <div class="bg-light p-4 rounded-lg">
        <div class="d-flex justify-content-between mb-4">
          <div class="font-13">
            <h4 class="mb-1">Free Plan</h4>
            <span>1 Clients, 50 Storage Capacity</span>
          </div>
          <div class=""><span class="h4"> $0.00</span><span class="font-13 text-muted ms-1">/ month</span></div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="">
            <a href="#!" class="btn btn-dark btn-sm me-4 disabled">Expired Plan</a>
          </div>
          <div class="font-13"><span> Next payment due</span><span class="text-dark ms-2 font-weight-bold">April 22, 2021</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- card  -->
  <div class="card mb-4">
    <!-- card header -->
    <div class="card-header bg-white p-4 d-flex justify-content-between align-items-center">
      <h4 class="mb-0">Payment Methods</h4>
      <a href="#!" class="btn btn-primary btn-sm">Add New</a>
    </div>
    <!-- card body -->
    <div class="card-body p-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item px-0 pb-3 pt-0">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <img src="../assets/images/logo-visa.svg" alt="" class="me-3" />
              <div>
                <h5 class="mb-0">Visa ending in 1234</h5>
                <p class="mb-0 font-13">Expires in 10/2021</p>
              </div>
            </div>
            <div>
              <span class="badge badge-success me-lg-4 me-0">Primary</span>
              <span class="dropdown">
                <a class="text-muted text-decoration-none" href="#!" role="button" id="dropdownOne" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fe fe-more-vertical"></i>
                </a>

                <span class="dropdown-menu dropdown-menu-right dropdown-menu-md-left" aria-labelledby="dropdownOne">
                  <a class="dropdown-item" href="#!">Edit</a>
                  <a class="dropdown-item" href="#!">Remove</a>
                  <a class="dropdown-item" href="#!">Make it Primary</a>
                </span>
              </span>
            </div>
          </div>
        </li>
        <li class="list-group-item px-0 py-3">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <img src="../assets/images/logo-mastercard.svg" alt="" class="me-3" />
              <div>
                <h5 class="mb-0">Mastercard ending in 1234</h5>
                <p class="mb-0 font-13">Expires in 03/2022</p>
              </div>
            </div>

            <span class="dropdown">
              <a class="text-muted text-decoration-none" href="#!" role="button" id="dropdownTwo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
              </a>

              <span class="dropdown-menu dropdown-menu-right dropdown-menu-md-left" aria-labelledby="dropdownTwo">
                <a class="dropdown-item" href="#!">Edit</a>
                <a class="dropdown-item" href="#!">Remove</a>
                <a class="dropdown-item" href="#!">Make it Primary</a>
              </span>
            </span>
          </div>
        </li>
        <li class="list-group-item px-0 py-3">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <img src="../assets/images/logo-discover.svg" alt="" class="me-3" />
              <div>
                <h5 class="mb-0">Discover ending in 1234</h5>
                <p class="mb-0 font-13">Expires in 07/2021</p>
              </div>
            </div>

            <span class="dropdown">
              <a class="text-muted text-decoration-none" href="#!" role="button" id="dropdownThree" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
              </a>

              <span class="dropdown-menu dropdown-menu-right dropdown-menu-md-left" aria-labelledby="dropdownThree">
                <a class="dropdown-item" href="#!">Edit</a>
                <a class="dropdown-item" href="#!">Remove</a>
                <a class="dropdown-item" href="#!">Make it Primary</a>
              </span>
            </span>
          </div>
        </li>
        <li class="list-group-item px-0 py-3">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <img src="../assets/images/logo-americanexpress.svg" alt="" class="me-3" />
              <div>
                <h5 class="mb-0">American Express ending in 1234</h5>
                <p class="mb-0 font-13">Expires in 12/2021</p>
              </div>
            </div>

            <span class="dropdown">
              <a class="text-muted text-decoration-none" href="#!" role="button" id="dropdownFour" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
              </a>

              <span class="dropdown-menu dropdown-menu-right dropdown-menu-md-left" aria-labelledby="dropdownFour">
                <a class="dropdown-item" href="#!">Edit</a>
                <a class="dropdown-item" href="#!">Remove</a>
                <a class="dropdown-item" href="#!">Make it Primary</a>
              </span>
            </span>
          </div>
        </li>
        <li class="list-group-item px-0 pt-3 pb-0">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <img src="../assets/images/logo-paypal-second.svg" alt="" class="me-3" />
              <div>
                <h5 class="mb-0">Paypal Express ending in 1234</h5>
                <p class="mb-0 font-13">Expires in 10/2021</p>
              </div>
            </div>

            <span class="dropdown">
              <a class="text-muted text-decoration-none" href="#!" role="button" id="dropdownFive" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
              </a>

              <span class="dropdown-menu dropdown-menu-right dropdown-menu-md-left" aria-labelledby="dropdownFive">
                <a class="dropdown-item" href="#!">Edit</a>
                <a class="dropdown-item" href="#!">Remove</a>
                <a class="dropdown-item" href="#!">Make it Primary</a>
              </span>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- card -->
  <div class="card">
    <!-- card header -->
    <div class="card-header bg-white p-4">
      <h4 class="mb-0">Invoice History</h4>
    </div>
    <!-- card body -->
    <div class="card-body p-4">
      <!-- list -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item px-0 pb-3 pt-0">
          <div class="d-flex justify-content-between">
            <div>
              <a href="#!">Invoice #00001</a>
              <p class="mb-0 font-13">Billed Apr 21, 2021</p>
            </div>

            <div>
              <a href="#!" class="btn btn-light btn-sm">Pay Now</a>
            </div>
          </div>
        </li>
        <!-- list -->
        <li class="list-group-item px-0 py-3">
          <div class="d-flex justify-content-between">
            <div>
              <a href="#!">Invoice #00002</a>
              <p class="mb-0 font-13">Billed Apr 21, 2021</p>
            </div>

            <div>
              <a href="#!" class="btn btn-light-success btn-sm text-success">Paid</a>
            </div>
          </div>
        </li>
        <!-- list -->
        <li class="list-group-item px-0 py-3">
          <div class="d-flex justify-content-between">
            <div>
              <a href="#!">Invoice #00003</a>
              <p class="mb-0 font-13">Billed Apr 21, 2021</p>
            </div>

            <div>
              <a href="#!" class="btn btn-light-success btn-sm text-success">Paid</a>
            </div>
          </div>
        </li>
        <!-- list -->
        <li class="list-group-item px-0 py-3">
          <div class="d-flex justify-content-between">
            <div>
              <a href="#!">Invoice #00004</a>
              <p class="mb-0 font-13">Billed Apr 21, 2021</p>
            </div>

            <div>
              <a href="#!" class="btn btn-light-success btn-sm text-success">Paid</a>
            </div>
          </div>
        </li>
        <!-- list -->
        <li class="list-group-item px-0 pt-3 pb-0">
          <div class="d-flex justify-content-between">
            <div>
              <a href="#!">Invoice #00005</a>
              <p class="mb-0 font-13">Billed Apr 21, 2021</p>
            </div>

            <div>
              <a href="#!" class="btn btn-light-success btn-sm text-success">Paid</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
