---
layout: default
---

{% include navbar.html %} 

<div class="bg-shape bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="pt-lg-9 pb-lg-15 pt-6 pb-10 mb-4">
          <h1 class="h2 text-white">Profile</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pb-12 mt-lg-n14 mt-n9">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-12">
        <nav class="navbar navbar-expand-md navbar-light dashboard-nav mb-3 mb-lg-0">
          <a class="d-xl-none d-lg-none d-md-none text-inherit font-weight-bold" href="#!">Menu</a>
          <button
            class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="fas fa-bars"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="navbar-nav flex-column w-100">
              <div class="border-bottom p-4 d-flex justify-content-between text-reset">
                <div class="d-flex align-items-center">
                  <img src="../assets/images/avatar-1.png" alt="" class="rounded-circle avatar-lg" />
                  <div class="ml-3">
                    <h5 class="mb-0">Judson Moore</h5>
                    <small>Admin</small>
                  </div>
                </div>
              </div>
              <div class="p-4">
                <span class="heading">Account</span>
                <ul class="list-unstyled mb-4 mt-2">
                  {% for item in site.data.nav.account-settings %}
                  <li class="nav-item{% if page.url == item.url} %} active{% endif %}">
                    <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.title. }}</a>
                  </li>
                  {% endfor %}
                </ul>
                <span class="heading border-top pt-4 d-block">Billing</span>

                <ul class="list-unstyled mb-0">
                  {% for item in site.data.nav.billing-settings %}
                  <li class="nav-item{% if page.url == item.url} %} active{% endif %}">
                    <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.title. }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>

      {{ content }}

    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer py-3 bg-dark text-base">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline">
          <li class="list-inline-item">© {{ site.time | date: '%Y' }} {{ site.title }}</li>
          {% for item in site.data.nav.bottom-bar %}
          <li class="list-inline-item"><a href="{{ item.url | relative_url }}" class="text-reset">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>