--- 
layout: account-settings 
---

<div class="col-lg-9 col-md-8 col-12">
  <div class="card mb-4">
    <!-- card header -->
    <div class="card-header bg-white p-4 d-flex justify-content-between align-items-center">
      <h4 class="mb-0">Payment Methods</h4>
      <a href="#!" class="btn btn-primary btn-sm">Add New</a>
    </div>
    <!-- card body -->
    <div class="card-body p-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item px-0 pb-3 pt-0">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <img src="{{'../assets/images/logo-visa.svg' | absolute_url }}" alt="" class="mr-3" />
              <div>
                <h5 class="mb-0">Visa ending in 1234</h5>
                <p class="mb-0 font-13">Expires in 10/2021</p>
              </div>
            </div>
            <div>
              <span class="badge badge-success mr-lg-4 mr-0">Primary</span>
              <span class="dropdown">
                <a class="text-muted text-decoration-none" href="#!" role="button" id="dropdownOne" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fe fe-more-vertical"></i>
                </a>

                <span class="dropdown-menu dropdown-menu-right dropdown-menu-md-left" aria-labelledby="dropdownOne">
                  <a class="dropdown-item" href="#!">Edit</a>
                  <a class="dropdown-item" href="#!">Remove</a>
                  <a class="dropdown-item" href="#!">Make it Primary</a>
                </span>
              </span>
            </div>
          </div>
        </li>
        <li class="list-group-item px-0 py-3">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <img src="{{'../assets/images/logo-mastercard.svg' | absolute_url }}" alt="" class="mr-3" />
              <div>
                <h5 class="mb-0">Mastercard ending in 1234</h5>
                <p class="mb-0 font-13">Expires in 03/2022</p>
              </div>
            </div>

            <span class="dropdown">
              <a class="text-muted text-decoration-none" href="#!" role="button" id="dropdownTwo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
              </a>

              <span class="dropdown-menu dropdown-menu-right dropdown-menu-md-left" aria-labelledby="dropdownTwo">
                <a class="dropdown-item" href="#!">Edit</a>
                <a class="dropdown-item" href="#!">Remove</a>
                <a class="dropdown-item" href="#!">Make it Primary</a>
              </span>
            </span>
          </div>
        </li>
        <li class="list-group-item px-0 py-3">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <img src="{{'../assets/images/logo-discover.svg' | absolute_url }}" alt="" class="mr-3" />
              <div>
                <h5 class="mb-0">Discover ending in 1234</h5>
                <p class="mb-0 font-13">Expires in 07/2021</p>
              </div>
            </div>

            <span class="dropdown">
              <a class="text-muted text-decoration-none" href="#!" role="button" id="dropdownThree" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
              </a>

              <span class="dropdown-menu dropdown-menu-right dropdown-menu-md-left" aria-labelledby="dropdownThree">
                <a class="dropdown-item" href="#!">Edit</a>
                <a class="dropdown-item" href="#!">Remove</a>
                <a class="dropdown-item" href="#!">Make it Primary</a>
              </span>
            </span>
          </div>
        </li>
        <li class="list-group-item px-0 py-3">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <img src="{{'../assets/images/logo-americanexpress.svg' | absolute_url }}" alt="" class="mr-3" />
              <div>
                <h5 class="mb-0">American Express ending in 1234</h5>
                <p class="mb-0 font-13">Expires in 12/2021</p>
              </div>
            </div>

            <span class="dropdown">
              <a class="text-muted text-decoration-none" href="#!" role="button" id="dropdownFour" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
              </a>

              <span class="dropdown-menu dropdown-menu-right dropdown-menu-md-left" aria-labelledby="dropdownFour">
                <a class="dropdown-item" href="#!">Edit</a>
                <a class="dropdown-item" href="#!">Remove</a>
                <a class="dropdown-item" href="#!">Make it Primary</a>
              </span>
            </span>
          </div>
        </li>
        <li class="list-group-item px-0 pt-3 pb-0">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <img src="{{'../assets/images/logo-paypal-second.svg' | absolute_url }}" alt="" class="mr-3" />
              <div>
                <h5 class="mb-0">Paypal Express ending in 1234</h5>
                <p class="mb-0 font-13">Expires in 10/2021</p>
              </div>
            </div>

            <span class="dropdown">
              <a class="text-muted text-decoration-none" href="#!" role="button" id="dropdownFive" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
              </a>

              <span class="dropdown-menu dropdown-menu-right dropdown-menu-md-left" aria-labelledby="dropdownFive">
                <a class="dropdown-item" href="#!">Edit</a>
                <a class="dropdown-item" href="#!">Remove</a>
                <a class="dropdown-item" href="#!">Make it Primary</a>
              </span>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-white p-4">
      <h4 class="mb-0">Invoice History</h4>
    </div>
    <div class="card-body p-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item px-0 pb-3 pt-0">
          <div class="d-flex justify-content-between">
            <div>
              <a href="#!">Invoice #00001</a>
              <p class="mb-0 font-13">Billed Apr 21, 2021</p>
            </div>

            <div>
              <a href="#!" class="btn btn-light btn-sm">Pay Now</a>
            </div>
          </div>
        </li>
        <li class="list-group-item px-0 py-3">
          <div class="d-flex justify-content-between">
            <div>
              <a href="#!">Invoice #00002</a>
              <p class="mb-0 font-13">Billed Apr 21, 2021</p>
            </div>

            <div>
              <a href="#!" class="btn btn-light-success btn-sm text-success">Paid</a>
            </div>
          </div>
        </li>
        <li class="list-group-item px-0 py-3">
          <div class="d-flex justify-content-between">
            <div>
              <a href="#!">Invoice #00003</a>
              <p class="mb-0 font-13">Billed Apr 21, 2021</p>
            </div>

            <div>
              <a href="#!" class="btn btn-light-success btn-sm text-success">Paid</a>
            </div>
          </div>
        </li>
        <li class="list-group-item px-0 py-3">
          <div class="d-flex justify-content-between">
            <div>
              <a href="#!">Invoice #00004</a>
              <p class="mb-0 font-13">Billed Apr 21, 2021</p>
            </div>

            <div>
              <a href="#!" class="btn btn-light-success btn-sm text-success">Paid</a>
            </div>
          </div>
        </li>
        <li class="list-group-item px-0 pt-3 pb-0">
          <div class="d-flex justify-content-between">
            <div>
              <a href="#!">Invoice #00005</a>
              <p class="mb-0 font-13">Billed Apr 21, 2021</p>
            </div>

            <div>
              <a href="#!" class="btn btn-light-success btn-sm text-success">Paid</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
