---
layout: default
---

{% include navbar.html %}

{% include hero.html %}

<div class="py-lg-12 py-10">
  <div class="container">

    {% if page.content %}
    <!-- Page content -->
    {% if page.pagination_info.curr_page == paginator.first_page  %}
    <div class="row">
      <div class="col-12">
        <div class="mb-8">

          {{ content | markdownify }}

        </div>
      </div>
    </div>
    {% endif %}
    {% endif %}

    <!-- blog post -->
    <div class="row">

      {% for post in paginator.posts %}
      {% include postbox.html %}
      {% endfor %}

      {% if paginator.total_pages > 1 %}
      {% include pagination.html %}
      {% endif %}

    </div>
  </div>
</div>

{% include footer.html %}