---
layout: default
---

{% include navbar.html %}

{% include hero.html %} 

<!-- blog post -->
<div class="py-12">

  <div class="container">
    <!-- navbar scroll -->
    <div class="row d-flex align-items-center mb-5">
      <div class="col-md-8">
        <div class="navbar-scroll">
          <ul>
            {% for category in site.categories %} 
            {% assign cat_name = category[0] %} 
            <li>
              <a href="{{ cat_name | slugify | prepend:'/category/' | relative_url }}/">{{ cat_name | join: " " }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {% if page.pagination_info.curr_page == paginator.first_page %}
    {% for post in site.posts limit:1 %}
    <!-- featured post -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12 mb-8 d-none d-md-block">
        <div class="card text-white border-0">
          {% cloudinary {{ post.image }} alt="{{ post.title }}" class="card-img" %}

          <div class="card-img-overlay text-white d-lg-flex flex-column justify-content-end py-md-8 px-md-10 p-2">
            {% assign sortedCategories = post.categories | sort_natural %}
            {% for category in sortedCategories limit:1 %}
            <a href="{{ category | slugify | prepend:'/category/' | relative_url }}" class="text-info mb-3 font-14 d-inline-block font-weight-semi-bold">{{ category | limit:1 }}</a>
            {% endfor %}
            <h2 class="mb-3">
              <a href="{{ post.url | relative_url }}" class="text-white">{{ post.title }}</a>
            </h2>
            <div class="font-14">
              <span class="me-2">{{ post.date | date:"%B %e, %Y" }}</span>
              {% assign author = site.authors | where: 'short_name', page.author | first %}
              <span>Posted by <a href="{{ author.url | absolute_url}}" class="text-white">{{ author.name }}</a></span>
            </div>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="row">

      {% for post in paginator.posts %}
      {% include postbox.html %}
      {% endfor %} 

      {% include pagination.html %}

    </div>
  </div>
</div>

{% include footer.html %}