---
layout: default
---

<div
  class="border-top-3 border-top border-primary bg-dark py-lg-8 py-12 pb-lg-0"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ page.hero }}); background-position: center; background-repeat: no-repeat; background-size: cover; position: relative;"
>
  <div class="container">
    <div class="row d-lg-flex align-items-center">
      <div class="col-xl-5 col-lg-5 col-md-5 col-12 p-4 p-lg-0">
        <div class="mb-0 mb-lg-8">

          <h1 class="text-white mb-3 display-4">
            {{ page.title }}
          </h1>

          <p class="mb-3 lead text-white">
            {{ page.event-date }}<br />
            {{ page.venue }} in {{ page.city }}, {{ page.state }}
          </p>

          {% include modal-event-details.html %}

        </div>
      </div>

      <div class="offset-xl-2 offset-lg-1 col-xl-5 col-lg-5 col-md-5 col-12 d-block">
        <div class="bg-dark p-3 p-md-4 p-lg-8 rounded-lg">
          <h2 class="mb-2 text-white">Pay what you want</h2>
          <p class="m-0 text-light">Tickets to this event are offered at the price fans think is fair.</p>
          <ul class="list-unstyled lead  text-light my-4">
            <li><i class="fas fa-check-circle text-primary"></i> I am a reason</li>
            <li><i class="fas fa-check-circle text-primary"></i> I am a reason</li>
            <li><i class="fas fa-check-circle text-primary"></i> I am a reason</li>
          </ul>
          {% include modal-event-bid.html %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- page content -->
<div class="py-lg-12 py-10">
  <div class="container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="alert alert-info" role="alert">
          <p><strong>What am I bidding on?</strong> The {{ page.artist }} show at the {{ page.venue }} on {{ page.date }} is selling tickets using OneWeek. OneWeek helps <u>you</u> get a ticket to the show, without having to pay exorbitant prices from ticket resellers. We’re cutting out the middleman.</p>
        </div>
      </div>
    </div>
    <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="row">

        <!-- para -->
        <div class="mt-5">
          <h2 class="font-weight-bold">
            How does OneWeek prevent ticket resellers from buying all of the tickets?
          </h2>
          <p class="mb-3 font-size-md">
            By using a blind auction! You enter the price that you think it’s worth paying to go to the show. Ticket resellers have an incentive to bid low so that they can turn around and make a massive profit when they (re)sell you the ticket.
          </p>
        </div>

        <!-- para -->
        <div class="mt-5">
          <h2 class="font-weight-bold">
            How does the auction work?
          </h2>
          <p class="font-size-md">
            You and everyone else who wants to go to the show places a bid. The top 1/7th of bids each day have their bids exchanged for tickets.
          </p>
          <p class="mb-3 font-size-md">
            To increase your opportunity of having a successful bid, we run this auction once a day for 7 days. If you bid on day 1, you’re bid will remain in the auction until you either get your ticket(s), or 7 days has passed.
          </p>
        </div>

        <!-- para -->
        <div class="mt-5">
          <h2 class="font-weight-bold">What happens if my bid is successful?</h2>
          <p class="mb-3 font-size-md">
            If you bid an amount that was in the top 1/7th of bids for the day, you’ll receive an email from OneWeek. We’ll charge your credit card for the amount listed when you placed your bid, and you’ll receive instructions on how your tickets will be delivered.
          </p>
        </div>

        <!-- para -->
        <div class="mt-5">
          <h2 class="font-weight-bold">What happens if my bid is successful?</h2>
          <p class="font-size-md">
            If your bid was too low, we’ll send you an email. You have three options:
          </p>
          <ul class="font-size-md">
            <li>Do nothing, and your original bid will remain active in the rest of the auction days left</li>
            <li>Change your bid, and your new bid will be active in the rest of the auction days left</li>
            <li>Cancel your bid, and you won’t participate in the rest of the auction days left.</li>
          </ul>
          <p class="mb-3 font-size-md">
            More questions? See our <a href="/faq" target="_blank">FAQ</a>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer py-3 bg-dark text-base">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline">
          <li class="list-inline-item">© {{ site.time | date: '%Y' }} {{ site.title }}</li>
          {% for item in site.data.nav.bottom-bar %}
          <li class="list-inline-item"><a href="{{ item.url | relative_url }}" class="text-reset">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
