---
layout:         default
---

{% include navbar.html %}

<div
  class="bg-dark right-slant-shape pt-lg-13 py-12 pb-lg-0"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/hero-bg.jpeg); background-position: center; background-repeat: no-repeat; background-size: cover; position: relative;"
>
  <div class="container">
    <div class="row d-lg-flex align-items-center">
      <div class="col-lg-5 col-lg-5 col-md-6 col-12">
        <div class="mb-0 mb-lg-8">
          <h1 class="text-white mb-3 display-4">
            Ticket price discovery for the primary market
          </h1>

          <p class="mb-6 lead text-white">
            Maximize your event ticket sales volume and revenues with auction-based price discovery for any event.
          </p>
          <a href="/signup" class="btn btn-primary mr-3">Request a demo now</a>

          <!--
          <a class="popup-youtube icon-shape rounded-circle btn-play icon-md bg-secondary text-white mr-1 text-decoration-none font-12" href="https://www.youtube.com/watch?v=JRzWRZahOVU">
            <i class="fas fa-play"></i>
          </a>
          <a href="https://www.youtube.com/watch?v=JRzWRZahOVU" class="popup-youtube text-white">Watch Video </a> 
          -->
        </div>
      </div>
      <div class="offset-xl-2 col-xl-5 offset-lg-1 col-lg-5 col-md-6 col-12 mb-n2 d-none d-md-block">
        <div class="position-relative z-index-1">
          <img src="../assets/images/iphone-app-940.png" alt="" class="img-fluid w-100" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-7 pt-lg-8 pb-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="mb-3 h1 font-weight-light">
          About<br />
          <span class="font-weight-bolder">OneWeek</span>
        </h2>
      </div>
      <div class="col-md-8">
        <p class="lead">
          OneWeek is a ticketing platform that helps venues, artists, promoters, and fans all have a better experience.
        </p>
        <p class="lead">
          We use a unique auction design that optimizes ticket pricing for buyers and sellers while also reducing secondary market incentives.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container pt-lg-12 pt-8 border-top border-light">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-12">
      <div class="card rounded-lg mb-6 border-0">
        <div class="card-body p-0">
          <span class="mb-4 d-block">
            <i class="fas fa-puzzle-piece text-primary font-42"></i>
          </span>
          <h3 class="h-4 mb-4 font-weight-bolder">
            <a href="help-center-category.html" class="text-inherit">
              Price Discovery
            </a>
          </h3>
          <p class="mb-0">
            Knowing how to price your product is complex in any industry. The traditional methods of pricing event tickets do not allow for price discovery because of market and product desirability fluctuations between events. We built
            OneWeek to solve this problem on behalf of venues, artists, and promoters.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12">
      <div class="card rounded-lg mb-6 border-0">
        <div class="card-body p-0">
          <span class="mb-4 d-block">
            <i class="fas fa-chart-line text-primary font-42"></i>
          </span>
          <h3 class="h-4 mb-4 font-weight-bolder">
            <a href="help-center-category.html" class="text-inherit">
              Revenue
            </a>
          </h3>
          <p class="mb-0">
            OneWeek's unique 7-day rolling auction design allows for the optimal ticket price to be discovered by engaging buyers and sellers in a mutually-beneficial process to determine what price the market is willing to bear. When the
            auction concludes, OneWeek continues to sell unsold tickets at the optimized price.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12">
      <div class="card rounded-lg mb-6 border-0">
        <div class="card-body p-0">
          <span class="mb-4 d-block">
            <i class="fas fa-ticket-alt text-primary font-42"></i>
          </span>
          <h3 class="h-4 mb-4 font-weight-bolder">
            <a href="help-center-category.html" class="text-inherit">
              Volume
            </a>
          </h3>
          <p class="mb-0">
            Discovering the market-equilibrium price for your tickets means that any tickets left unsold at the end of the auction period can be sold at the optimized price that will give you the best chance at selling all of your tickets
            without leaving money on the table from under-pricing your tickets.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12">
      <div class="card rounded-lg mb-6 border-0">
        <div class="card-body p-0">
          <span class="mb-4 d-block">
            <i class="fas fa-user-alt-slash text-primary font-42"></i>
          </span>
          <h3 class="h-4 mb-4 font-weight-bolder">
            <a href="help-center-category.html" class="text-inherit">
              Scalping
            </a>
          </h3>
          <p class="mb-0">
            Scalpers and the secondary market lose their incentive to scoop up your tickets because real fans will outbid them. Any margin they might have hoped to garner by reselling your tickets at a higher price will be marginalized by
            the market-equilibrium price discovered at the end of the auction period.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12">
      <div class="card rounded-lg mb-6 border-0">
        <div class="card-body p-0">
          <span class="mb-4 d-block">
            <i class="fas fa-door-open text-primary font-42"></i>
          </span>
          <h3 class="h-4 mb-4 font-weight-bolder">
            <a href="help-center-category.html" class="text-inherit">
              Accessible
            </a>
          </h3>
          <p class="mb-0">
            Allowing fans to determine your tickets' fair market price means that they gain access to your event at a price they can bear. This prevents fans from being victimized in the secondary market and ensures that their money
            supports the primary market directly.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12">
      <div class="card rounded-lg mb-6 border-0">
        <div class="card-body p-0">
          <span class="mb-4 d-block">
            <i class="fas fa-drum text-primary font-42"></i>
          </span>
          <h3 class="h-4 mb-4 font-weight-bolder">
            <a href="help-center-category.html" class="text-inherit">
              Artist Support
            </a>
          </h3>
          <p class="mb-0">
            Fans want to support artists directly and are endlessly frustrated when forced to engage the secondary market to access events. Selling tickets through a primary-market auction ensures that fans can support artists directly at a
            fair price.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pt-lg-12 pt-8 border-top border-light">
  <h2 class="mb-4">How does OneWeek work?</h2>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt-4">
      <div class="mb-4">
        <h4 class="h3"><span class="text-primary mr-2">01</span>Create</h4>
        <p class="pl-4 ml-2 border-left border-primary">
          Create an event with the OneWeek admin panel just as you would with any other ticketing platform. Define your ticket categories and set your secret minimum price to protect against significant losses from low bids.
        </p>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt-4">
      <div class="mb-4">
        <h4 class="h3"><span class="text-primary mr-2">02</span>Auction</h4>
        <p class="pl-4 ml-2 border-left border-primary">
          The OneWeek auction design is unique as it releases only 1/7 of the total ticket quantity each day, every day for a week. This allows for patrons and sellers alike to respond to the unique market demands for your event.
        </p>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt-4">
      <div class="mb-4">
        <h4 class="h3"><span class="text-primary mr-2">03</span>Nudge</h4>
        <p class="pl-4 ml-2 border-left border-primary">
          OneWeek provides unsuccessful bidders with feedback regarding how much they should raise their bid to succeed the next day. Additionally, sellers receive daily reports helping them determine if they need to reduce their secret
          minimum price.
        </p>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt-4">
      <div class="mb-4">
        <h4 class="h3"><span class="text-primary mr-2">04</span>Maximize</h4>
        <p class="pl-4 ml-2 border-left border-primary">
          After seven rounds of bidding, OneWeek will discover the market equilibrium price. This price is the optimal face value price tickets should be sold at after the auction concludes to maximize sales volumes and revenues.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container pt-lg-12 pt-8">
  <div class="row about-bottom-image">
    <img src="../assets/images/app-screens-1200.png" class="img-fluid" alt="OneWeek App Screenshots" data-aos="fade-up" />
  </div>
</div>


{% include footer.html %}