---
layout: default
---

<div class="bg-shape bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="py-lg-14 pt-12 pb-8">
          <h1 class="h2 text-white" id="test">Shop</h1>
          <!-- breadcrumbs -->
          <div class="custom-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="shop.html">Shop</a></li>
              <li class="breadcrumb-item active" aria-current="page">Order Completed</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-6">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-12">
        <!-- card -->
        <div class="card mb-4">
          <!-- card header -->
          <div class="card-header bg-white p-4">
            <h4 class="mb-0">Billing Address</h4>
          </div>
          <!-- card body -->
          <div class="card-body p-4">
            <!-- form -->
            <form class="row">
              <div class="form-group col-12 col-lg-6 col-md-12">
                <label class="font-14 text-dark" for="fname">First Name</label>
                <input type="text" id="fname" class="form-control" placeholder="First Name" required="" />
              </div>
              <div class="form-group col-12 col-lg-6 col-md-12">
                <label class="font-14 text-dark" for="lname">Last Name</label>
                <input type="text" id="lname" class="form-control" placeholder="Last Name" required="" />
              </div>
              <div class="form-group col-12 col-lg-6 col-md-12">
                <label class="font-14 text-dark" for="email">Email Address</label>
                <input class="form-control" type="email" placeholder="Email here" id="email" name="email" />
              </div>
              <div class="form-group col-12 col-lg-6 col-md-12">
                <label class="font-14 text-dark" for="phone">Phone</label>
                <input type="text" id="phone" class="form-control" placeholder="Phone" required="" />
              </div>

              <div class="form-group col-12 col-lg-6 col-md-12">
                <label class="font-14 text-dark" for="address">Street Address</label>
                <input type="text" id="address" class="form-control" placeholder="Address" required="" />
              </div>
              <div class="form-group col-12 col-lg-6 col-md-12">
                <label class="font-14 text-dark" for="address2">Apt, suite, etc.</label>
                <input type="text" id="address2" class="form-control" placeholder="Address" required="" />
              </div>
              <div class="form-group col-12 col-lg-4 col-md-12">
                <label class="font-14 text-dark">State</label>
                <select class="custom-select">
                  <option selected="">Select State</option>
                  <option value="1">Gujarat</option>
                  <option value="2">Rajshathan</option>
                  <option value="3">Maharashtra</option>
                </select>
              </div>
              <div class="form-group col-12 col-lg-4 col-md-12">
                <label class="font-14 text-dark">Country</label>
                <select class="custom-select">
                  <option selected="">Select Country</option>
                  <option value="1">India</option>
                  <option value="2">UK</option>
                  <option value="3">USA</option>
                </select>
              </div>
              <div class="form-group col-12 col-lg-4 col-md-12">
                <label class="font-14 text-dark" for="zipcode">ZipCode</label>
                <input type="text" id="zipcode" class="form-control" placeholder="ex:000000" required="" />
              </div>
              <div class="mt-3 col-12">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="CheckboxOne" />
                  <label class="custom-control-label" for="CheckboxOne">Shipping address is the same as my billing address</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="CheckboxTwo" />
                  <label class="custom-control-label" for="CheckboxTwo">Save this information for next time</label>
                </div>
              </div>

              <div class="border-bottom pb-3 mt-4 mb-4 col-12">
                <h4 class="mb-0">Payment Method</h4>
              </div>
              <div class="col-12 mb-4">
                <div class="custom-control custom-radio custom-control-inline mr-1">
                  <input type="radio" id="paymentRadioOne" name="paymentRadioOne" class="custom-control-input" checked="" />
                  <label class="custom-control-label" for="paymentRadioOne">Credit card</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline mr-1">
                  <input type="radio" id="paymentRadioTwo" name="paymentRadioOne" class="custom-control-input" />
                  <label class="custom-control-label" for="paymentRadioTwo">Debit card</label>
                </div>
              </div>

              <div class="form-group col-12 col-lg-6 col-md-12">
                <label for="nameoncard" class="text-dark">Name on card</label>
                <input id="nameoncard" type="text" class="form-control" name="nameoncard" placeholder="Name" required="" />
              </div>
              <div class="form-group col-lg-6 col-md-12">
                <label for="cc-mask" class="text-dark">Card Number</label>
                <input type="text" class="form-control cc-inputmask" id="cc-mask" placeholder="xxxx-xxxx-xxxx-xxxx" required="" inputmode="text" />
              </div>
              <div class="form-group col-12 col-lg-4 col-md-6">
                <label class="font-14 text-dark">Expiration</label>
                <select class="custom-select">
                  <option selected="">MM/YY</option>
                  <option value="09/20">09/20</option>
                  <option value="10/20">10/20</option>
                  <option value="11/20">11/20</option>
                </select>
              </div>
              <div class="form-group col-lg-4 col-md-6">
                <div class="form-group">
                  <label for="cvv" class="text-dark">
                    CVV Code <i class="fas fa-question-circle ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="A 3 - digit number, typically printed on the back of a card."></i>
                  </label>
                  <input type="password" class="cc-inputmask form-control" name="cvv" id="cvv" placeholder="xxx" maxlength="3" required="" inputmode="text" />
                </div>
              </div>

              <div class="col-12">
                <button class="btn btn-primary" type="submit">
                  Continue to checkout
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- order summary -->
      <div class="col-lg-4 col-md-5 col-12 mt-lg-0 mt-5">
        <div class="mb-4">
          <h2 class="h4">Order summary</h2>
        </div>
        <!-- card -->
        <div class="card">
          <!-- list -->
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <h5 class="mb-0">Subtotal</h5>
              <span>$16.00</span>
            </li>
            <!-- list -->
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <h5 class="mb-0">Discount</h5>
              <span class="text-success">$-2.00</span>
            </li>
            <!-- list -->
            <li class="list-group-item p-3">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <h5 class="mb-0">Delivery</h5>
                <span class="text-dark text-uppercase">Free</span>
              </div>

              <div class="custom-control custom-radio mb-3">
                <input type="radio" id="freeDelivery" name="customRadio" class="custom-control-input" checked="" />
                <label class="custom-control-label" for="freeDelivery">
                  Free - Standard delivery<br />
                  <small>Shipment may take 5-6 business days.</small>
                </label>
              </div>
              <div class="custom-control custom-radio mb-3">
                <input type="radio" id="expressDelivery" name="customRadio" class="custom-control-input" />
                <label class="custom-control-label" for="expressDelivery">
                  $2.99 - Express delivery <br />
                  <small>Shipment may take 5-6 business days.</small>
                </label>
              </div>
            </li>
            <!-- list -->
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <h5 class="mb-0">Tax</h5>
              <span class="text-dark">---</span>
            </li>
            <!-- list -->
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <h5 class="mb-0">Total</h5>
              <span class="text-primary">$14.00</span>
            </li>
            <!-- list -->
            <li class="list-group-item p-3">
              <a href="/login" class="btn btn-primary btn-block">Procees to checkout </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer py-3 bg-dark text-base">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline">
          <li class="list-inline-item">© {{ site.time | date: '%Y' }} {{ site.title }}</li>
          {% for item in site.data.nav.bottom-bar %}
          <li class="list-inline-item"><a href="/login" class="text-reset">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/pay.js" deferred></script>
<script src="https://cdn.auth0.com/js/auth0-spa-js/1.14/auth0-spa-js.production.js"></script>

