---
layout: default
---

<div class="border-top border-primary border-top-4 fixed-top"></div>
<div class="min-vh-100 overflow-hidden">
  <div class="container-fluid pl-lg-0 pr-lg-0">
    <div class="row no-gutters">
      <div class="col-lg-6 col-md-12 col-12">
        <div class="p-xl-12 py-4 pr-xl-9 p-lg-8">
          <div class="d-flex justify-content-between mb-7 align-items-center">
            <a href="/">
              <h1 class="d-block text-black m-0 h3 font-weight-bolder">OneWeek</h1>
            </a>
            <span class="font-14 font-weight-bold text-dark">Call Us: +1 310.571.5210</span>
          </div>
          <div class="mb-10">
            <h1 class="display-4 mb-4">Let’s talk about your business.</h1>
            <p class="lead">
              Ready to offer your fans a better ticketing experience and make more money while doing it?
            </p>
            <p>
              Fill out this form and one of our account representatives will be in touch with you shortly.
            </p>
          </div>
          <div id="form">
            <form
              action="https://oneweektickets.us1.list-manage.com/subscribe/post?u=f0d949cdf0a6a387f7b55a173&amp;id=4f123ead61"
              method="post"
              id="mc-embedded-subscribe-form"
              name="mc-embedded-subscribe-form"
              class="form-row"
              target="_blank"
              novalidate
            >
              <div class="form-group col-6">
                <label class="text-dark font-14" htmlFor="fname">First Name<span class="text-danger">*</span></label>
                <input class="form-control" type="text" name="FNAME" id="mce-FNAME" placeholder="First Name" required="" />
              </div>
              <div class="form-group col-6">
                <label class="text-dark font-14" htmlFor="lname">Last Name<span class="text-danger">*</span></label>
                <input class="form-control" type="text" name="LNAME" id="mce-LNAME" placeholder="Last Name" required="" />
              </div>
              <div class="form-group col-12">
                <label class="text-dark font-14" htmlFor="email">Email<span class="text-danger">*</span></label>
                <input class="form-control" type="email" name="EMAIL" id="mce-EMAIL" placeholder="Email Address" required="" />
              </div>
              <div class="form-group col-12">
                <label class="text-dark font-14" htmlFor="phone">What's your phone number?<span class="text-danger">*</span></label>
                <input class="form-control" type="text" name="PHONE" id="mce-PHONE" placeholder="Phone" required="" />
              </div>
              <div class="form-group col-12">
                <label class="text-dark font-14" htmlFor="orgname">What's your organization's name<span class="text-danger">*</span></label>
                <input class="form-control" type="text" name="ORGNAME" id="mce-ORGNAME" placeholder="Organization name" required="" />
              </div>
              <div class="form-group col-12">
                <label class="text-dark font-14" htmlFor="orgtype">Organization Type<span class="text-danger">*</span></label>
                <select class="custom-select custom-select-lg mb-3" name="ORGTYPE" id="mce-ORGTYPE" defaultValue="Select one...">
                  <option defaultValue="Artist">Artist</option>
                  <option defaultValue="Venue">Venue</option>
                  <option defaultValue="Promoter">Promoter</option>
                  <option defaultValue="Agent / Manager">Agent / Manager</option>
                  <option defaultValue="Other">Other</option>
                </select>
              </div>
              <div class="form-group col-12">
                <label class="text-dark font-14" htmlFor="MMERGE6">Website<span class="text-danger">*</span></label>
                <input class="form-control" type="url" name="MMERGE6" id="mce-MMERGE6" placeholder="https://www..." required="" />
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display: none;" />
                <div class="response" id="mce-success-response" style="display: none;" />
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_f0d949cdf0a6a387f7b55a173_4f123ead61" tabindex="-1" defaultValue="" />
              </div>
              <div class="form-group col-12">
                <button type="submit" class="btn btn-primary btn-block" defaultValue="Request a call" name="subscribe" id="mc-embedded-subscribe">
                  Request a Call
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 d-lg-flex align-items-center d-none d-md-none d-lg-block w-50 min-vh-100 position-fixed bg-cover" style="background-image: url(../assets/images/hero-bg.jpeg); right: 0; top: 0">
  </div>
</div>
